@import "./prismjs/themes/atom-dark.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-sky-600 underline underline-offset-2;
  }
  a:hover {
    @apply underline-offset-4 hover:underline-offset-4;
  }

  pre {
    @apply bg-black bg-opacity-80 dark:bg-opacity-10 !important;
  }

  .prose li p {
    @apply my-0;
  }
}
